.todoForm{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}
input:focus{
    outline: none;
    border: 2px solid #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    transition: all 0.3s ease;
}

input:hover{
    transform: scale(1.01);
    transition: all 0.3s ease;
    
}

.todoForm .btnAdicionar{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todoForm .btnAdicionar:hover{
    background-color: #6c63ff;
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease;
}