.todoList{
    list-style: none;
    padding: 0;
    
    
}



.vazio{
    text-align: center;
    color: #2e2e2e;
    margin-top: 20px;
    font-size: 2rem;


}

.listaScroll {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px;
}

/* largura */
.listaScroll::-webkit-scrollbar {
  width: 8px;
}

/* fundo */
.listaScroll::-webkit-scrollbar-track {
  background: transparent;
}

/* barra */
.listaScroll::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 20px;
  transition: background-color 0.3s;
}

/* hover */
.listaScroll::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}



