.home{
    text-align: center;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

.home h1{
    margin-bottom: 10px;
}


