#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
  height: 100vh;
  
  
}


body{
  background-color: rgb(220, 206, 233);
}