
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.appContainer{
  display: flex;
  flex-direction: column;


  
  height: 94vh;
 
  background: #f5f5f5 ;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}



body{
  max-width: 70vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  background-color:  #ffffff;
  color: #333;
 
}

.pageContainer{
 

  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
 
  max-height: calc(100vh -120px);
  overflow-y: auto;

 


}


.container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

     border: 1px solid #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    
}

@media print {
  body * {
    visibility: hidden;
    
  }

  .listaPDF,
  .listaPDF * {
    visibility: visible;
    
  }

  .listaPDF {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none;
  }
}




body.dark{
  background: #363636;
  color: rgb(22, 22, 22);
  
}

body.dark .container,
body.dark .home{
  background: #2b2b2b;
  color: rgb(37, 37, 37);
 
}

body.dark a{
  color: #eeeeee;
  background-color: #353434;
  
}

body.dark a:hover{
  background: #1d1d1d;
  color: white;
}


body.dark .appContainer{
  background: #141414;
 
}



  


  
