
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.appContainer{
  display: flex;
  flex-direction: column;

  height: 94vh;
  background: #f5f5f5 ;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}

body{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  
  height: 100vh;
  
  background-color:  #ffffff;
  color: #333;
}

.pageContainer{
 

  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}


.container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

body.dark{
  background: #363636;
  color: white;
}

body.dark .container,
body.dark .Home{
  background: #2b2929;
  color: white;
}

body.dark a{
  color: #ccc;
}

body.dark .appContainer{
  background: #141414;
}

